[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/virtuoso_irfan/mytts
ExecStart=/home/virtuoso_irfan/mytts/.mytts/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          mytts.wsgi:application

[Install]
WantedBy=multi-user.target